body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;   
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(90deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 56%);
    padding-top: 61px;
    color: #fff;
}

.first_title {
    font-size: 37px;
    font-weight: 700;
    width: 566px;
    line-height: 49px;
    margin: 20px 0 43px;
}

.first_title span {
    line-height: 73px;
    font-size: 59px;
}

.text {
    margin: 0 0 43px;
    width: 405px;
    font-size: 16px;
    line-height: 27px;
}

.btn {
    text-decoration: none;
    color: #2e2a1b;
    background-color: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 900;
    padding: 22px 0;
    display: block;
    width: 221px;
    text-align: center;
}

.btn:hover {
    background-color: #dfbb2a;
    transition: all 1s ease ;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px;
    align-items:center;
}

.second_page {
    padding: 105px 0 115px;
    color: #201b2d;
}

.block_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.future {
    background: url('../img/icon1.jpg') no-repeat center top;
    padding-top: 95px;
    width: 290px;
    text-align: center;
}

.icon_title {
    font-size: 19px;
    margin-bottom: 15px;
}

.icon_text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.travel {
    width: 273px;
    background: url('../img/icon2.jpg') no-repeat center top;
}

.creation {
    width: 305px;
    background: url('../img/icon3.jpg') no-repeat center top;
}

.third_page {
    background-color: #ecf3f8;
    padding: 102px 0;
    color: #201b2d;
}

.third {
    margin-bottom: 57px;
}

.form {
    display: block;
    justify-content: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #9f9ea2;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 17px 24px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.new_btn {
    width: 100%;
    border: none;
}

footer {
    background-color: #164d7a;
    color: #fff;
    padding: 62px 0;
    text-align: center;
}

.copiright {
    margin: 0;
    font-size: 14px;
    width: auto;
}

.animated {
    opacity: 0;
}

.color {
    color: red;
}

@media screen and (max-width: 1200px){
    .container {
        width: 960px;
    }
    .first_title {
        width: auto;
    }
}

@media screen and (max-width: 992px){
    .container {
        width: 720px;
    }
    .wrapper {
        flex-direction: column;
    }
    .text {
        width: auto;
    }
    .icons {
        flex-direction: column;
        align-items: center;
    }
    .future {
        width: auto;
        margin-bottom: 45px;
        padding-top: 70px;
    }
}

@media screen and (max-width: 768px){
    .container {
        width: 540px;
    }
}

@media screen and (max-width: 576px){
    .container {
        width: 100%;
    }
    .btn {
        width: auto;
    }
    .picture {
        display: block;
        max-width: 550px;
        width: 100%;
    }
    .new_btn {
        display: block;
        width: 90%;
        margin-left: 12px;
    }
    .form {
        width: 90%;
    }
    .input {
        width: 90%;
        margin-left: 12px;
    }
}